html {
    background: #000000 url("../images/bg_custom.jpg") no-repeat fixed bottom;
    background-size: cover;
    height: 100%;
    overflow: auto;
}

.container {
    padding-top: 20px;
    height: 90%;
}

[v-cloak] { display:none; !important }
