html {
    background-size: 100% 50%, 100% 50%;
    background-color: #000000;
    background-image: url("../images/bg-top.png"), url("../images/bg-bottom.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top center, bottom center;
    height: 100%;
}

.container {
    padding-top: 20px;
}

[v-cloak] { display:none; !important }
as
